# Store Sales of Corporation Favorita

## Business Analysis

#### This project revolves around time series forecasting with the objective of predicting store sales using data from Corporation Favorita, a prominent grocery retailer based in Ecuador. The primary goal is to develop a model that enhances the accuracy of predicting unit sales for a myriad of items sold across various Favorita stores.

### Hypothesis

### Import libraries

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns 
import pyodbc
import matplotlib.pyplot as plt

## Load datasets

In [10]:
# Load environment variables from .env file into a dictionary
from dotenv import  dotenv_values
environment_variables = dotenv_values('.env')
 
# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USER")
password = environment_variables.get("PASSWORD")
 
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};USER={username};PWD={password}"

In [15]:
print(connection_string)

DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;USER=learning_project_3;PWD=A$uB1Lp3$2@24

In [19]:
connection = pyodbc.connect(connection_string)

Error: ('HY000', '[HY000] [Microsoft][ODBC SQL Server Driver][SQL Server]Windows logins are not supported in this version of SQL Server. (40607) (SQLDriverConnect); [HY000] [Microsoft][ODBC SQL Server Driver]Invalid connection string attribute (0); [HY000] [Microsoft][ODBC SQL Server Driver][SQL Server]Windows logins are not supported in this version of SQL Server. (40607); [HY000] [Microsoft][ODBC SQL Server Driver]Invalid connection string attribute (0)')

In [18]:
query='SELECT * from dbo.oil'

df_oil=pd.read_sql(query, connection)

df_oil

ArgumentError: Could not parse SQLAlchemy URL from string 'DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;USER=learning_project_3;PWD=A$uB1Lp3$2@24'

In [21]:
dt2=pd.read_csv('train.csv')
dt2.head()

   id      date  store_nbr      family  sales  onpromotion
0   0  1/1/2013          1  AUTOMOTIVE    0.0            0
1   1  1/1/2013          1   BABY CARE    0.0            0
2   2  1/1/2013          1      BEAUTY    0.0            0
3   3  1/1/2013          1   BEVERAGES    0.0            0
4   4  1/1/2013          1       BOOKS    0.0            0